project_id = "mqbupmusmciijsjmzbcu"

[functions.search-spots]
verify_jwt = false

[functions.stripe-webhooks]
verify_jwt = false

[functions.get-payment-methods]
verify_jwt = true

[functions.setup-payment-method]
verify_jwt = true

[functions.cancel-booking]
verify_jwt = true

[functions.get-stripe-publishable-key]
verify_jwt = false

[functions.create-stripe-connect-link]
verify_jwt = true

[functions.check-stripe-connect-status]
verify_jwt = true

[functions.send-booking-confirmation]
verify_jwt = true

[functions.extend-booking]
verify_jwt = true

[functions.forward-support-messages]
verify_jwt = false

[functions.detect-overstays]
verify_jwt = false

[functions.confirm-departure]
verify_jwt = true
